body{
    display: flex ;
    margin: 0%;
}
a{
    text-decoration: none;
}
#btn {
    text-decoration: none;
    color:#fff
}
.nav{
    width: 10%;
    height: 100vh;
    background-color:#434a54 ;
    display: flex;
    flex-direction: column;
    a{
        text-decoration: none;

        font-style: Bahnschrift;
        font-weight: Regular;
        font-size: 20px;
        color: #ffffff;
      
    
    }
    #spanProfesores{
        display: flex;
        align-items: center;
        height: 5vh;
        background-color:#00cc89;
        position: relative;
        top: 30%;
        padding-left: 10%;
        
    }
    #spanAlumnos{
        display: flex;
        align-items: center;
        height: 5vh;
        // background-color: #E7E7E7;
        position: relative;
        top: 28%;
        padding-left: 10%;
        
    }
}
button{
    a{
        text-decoration: none;
    }
}
.box{
    width: 100%;
    height: 100vh;
    // background-color: red;
}
.cabecera{
    height: 7vh;
    background-color: white;
    justify-content: space-between;
    border-bottom: solid 1px #434a54;

    // centrar texto en la cabecera en el centro
    display: flex;
    align-items: center;
    h2{

        font-style: Tahoma;
        font-weight: Bold;
        font-size: 25px;
        position: relative;
        left: 5%;
    
    }
}
.pagina{
    // display: flex;
    // justify-content: center;
    height:93vh;
    background-color: #E7E7E7;
    .h3{

        font-style: Tahoma;
        font-weight: Bold;
        font-size: 20px;
        position: relative;
        left: 5%;
        position: relative;
        top: 2%;
    
    }
}
.tabla{
    margin-left: 5%;
    width: 90%;
    position: relative;
    top: 10%;
    height: 40vh;
    .acc{
        padding-left: 5%;
    }
}
.checkbox{
    width: 2%;
}
.nombre {
  width: 25%;
  img{
    margin-right: 10%;    
  //   width: 100%;
  //   padding-left: 10%;
}
}
.email{
    width: 20%;
}
.filters{
    display: flex;
    justify-content: flex-end;
    span{
        width: auto;
        height: 5vh;
        margin: 1%;
        // margin-right: 3%;
        
    }
    .csv{
        margin-right:25%;
    }
}

.inputsFiltro{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    button{
        margin: 1%;
        margin-right: 3%;    
    }
    input{
        width: 150%;
    }
}
.inputsFiltro2{
    width: 100%;
    padding-right: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    button{
        margin: 1%;
        margin-right: 3%;    
    }
    input{
        width: 150%;
    }
}
.botonesFiltro{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}s
.tutor{
    width: 20%;
}

.curso{
    width: 10%;
}
.curso2{
    width: 15%;
}

.acciones{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    span{
        .svg1{
            height: 30px;
            width: 30px;
        }
        .svg2{
            height: 25px;
            width: 25px;
            color:  #0e90ab;
    
        }
        .svg3{
            height: 25px;
            width: 25px;
            color: #ab4452;
        }

    }
   
}
.acciones2{
    width: 100%;
    display: flex;
    // justify-content: center;
    // padding-left: 5%;    
    span{
        .svg1{
            height: 30px;
            width: 30px;
            
        }
        
    }
   
}