body {
  display: flex ;
  margin: 0%;
}
button a {
  text-decoration: none;
  color: #ffffff;
}
form {
  padding-left: 55%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.form:hover {
  color: #ffffff;
  text-decoration: none;
}
.btn:active,
.btn:focus {
  background-color: #000000;
  color: #ffffff;
  box-shadow: 0 8px 24px 0 rgba(112, 16, 16, 0.2);
}
.form-check {
  margin: 1%;
}
.modal-footer {
  background-color: #434a54;
}
.modal-content {
  background-color: #0e90ab;
}
.modalButons {
  display: flex;
  justify-content: center;
}
.modalForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btnTodos {
  border: none;
  border-radius: 30px;
  width: 40%;
  margin-bottom: 5% !important;
}
.btnTodos2 {
  border: none;
  /* border-radius: 30px; */
  margin-bottom: 5% !important;
}
.selectCrud {
  margin-left: 15%;
  margin-right: 1%;
  position: relative;
  top: -3%;
}
.desSelectCrud {
  position: relative;
  top: -3%;
}
.btn a:hover {
  background-color: #1b9237;
  color: #ffffff;
  text-decoration: none;
}
.nav {
  width: 10%;
  height: 100vh;
  background-color: #434a54;
  position: fixed;
  display: flex;
  flex-direction: column;
}
.nav a {
  text-decoration: none;
  font-style: Bahnschrift;
  font-weight: Regular;
  font-size: 20px;
  color: #ffffff;
}
.nav #spanProfesores {
  display: flex;
  align-items: center;
  height: 5vh;
  position: relative;
  top: 21vh;
  padding-left: 10%;
}
.nav #spanAlumnos {
  display: flex;
  align-items: center;
  height: 5vh;
  background-color: #00cc89;
  position: relative;
  top: 20vh;
  padding-left: 10%;
}
.nav #spanFilters {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3vh;
  color: #E7E7E7;
  position: relative;
  top: 13vh;
}
.box {
  width: 100%;
  height: 100vh;
}
.cabecera {
  padding-left: 15%;
  height: 7vh;
  background-color: white;
  border-bottom: solid 1px #434a54;
  justify-content: space-between;
  padding-right: 5px;
  display: flex;
  align-items: center;
}
.cabecera h2 {
  font-style: Tahoma;
  font-weight: Bold;
  font-size: 25px;
  position: relative;
  left: 5%;
}
.pagina {
  overflow: hidden;
  padding-left: 10%;
  height: 93vh;
  background-color: #E7E7E7;
}
.pagina .h3 {
  font-style: Tahoma;
  font-weight: Bold;
  font-size: 20px;
  left: 5%;
  position: relative;
  top: 2%;
}
.filters {
  position: relative;
  top: 5%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #434a54;
  width: 30%;
  height: 8vh;
}
.filters span {
  width: auto;
  height: 5vh;
  margin: 1%;
}
.filters .csv {
  margin-right: 25%;
}
.inputsFiltro {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.inputsFiltro button {
  margin: 1%;
  margin-right: 3%;
}
.inputsFiltro2 {
  width: 100%;
  padding-right: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputsFiltro2 button {
  margin: 1%;
  margin-right: 3%;
}
.inputsFiltro2 input {
  width: 150%;
}
.botonesFiltro {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
  right: 10%;
}
.botonesFiltro .btn {
  position: relative;
  right: 10%;
}
.modal-content {
  background-color: #434a54;
}
.form-input-material {
  --input-default-border-color: white;
  --input-border-bottom-color: white;
}
.form-input-material input {
  color: white;
}
.modalForm {
  margin-bottom: 10%;
  margin-top: 5%;
}
.modalForm input {
  margin: 2%;
  background-color: #434a54;
  color: white;
  border: none;
  border-bottom: #ffffff solid 1px;
}
.modalForm input::placeholder {
  color: #c2c2c2;
}
.tbl {
  border-radius: 25px;
  background-color: #999999;
  width: 60%;
  border: solid 2px black;
  display: table;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
}
.tbl label {
  margin-left: 3%;
}
.tabla {
  margin-left: 5%;
  width: 90%;
  position: relative;
  top: -2%;
  height: 40vh;
}
.tabla tbody {
  height: 55vh;
  overflow: auto;
  overflow-x: hidden;
  width: 100%;
}
.tabla thead,
.tabla tbody,
.tabla td,
.tabla th {
  display: block;
}
.tabla .cabecerasTabla {
  width: 100%;
}
.tabla .cabecerasTabla .seleccionar {
  padding-right: 5%;
}
.tabla .cabecerasTabla .nombre {
  width: 0%;
}
.tabla .cabecerasTabla .email {
  width: 35%;
}
.tabla .cabecerasTabla .tutor {
  width: 5%;
}
.tabla .cabecerasTabla .clase {
  width: 35%;
}
.tabla th {
  text-align: center;
  float: left;
  border-bottom-width: 0px ;
}
.tabla td {
  float: left;
}
.tabla td.acciones2 {
  padding-left: 5%;
}
.tabla td.curso2 {
  padding-right: 18%  ;
  padding-left: 3%;
}
.tabla td.curso {
  padding-right: 18%  ;
  padding-left: 3%;
}
.tabla tr {
  width: 100%;
  float: left ;
}
.checkbox {
  width: 2%;
}
.nombre {
  width: 25%;
}
.nombre img {
  margin-right: 10%;
}
.email {
  width: 20%;
}
.tutor {
  width: 20%;
}
.curso {
  width: 10%;
}
.curso2 {
  width: 15%;
}
.acciones {
  display: flex;
  justify-content: space-evenly;
}
.acciones span .svg1 {
  height: 30px;
  width: 30px;
}
.acciones span .svg2 {
  height: 25px;
  width: 25px;
  color: #0e90ab;
}
.acciones span .svg3 {
  height: 25px;
  width: 25px;
  color: #ab4452;
}
.acciones2 {
  display: flex;
}
.acciones2 span .svg1 {
  height: 30px;
  width: 30px;
}
.pages {
  position: relative;
  top: 25%;
  margin-left: 5%;
}
.archive-pages li a:hover {
  color: #000;
}
.archive-pages li.selected {
  color: white;
}
.archive-pages a,
.archive-pages a:visited {
  color: #555;
}
.archive-pages li.selected {
  color: white;
  padding: 5px;
  line-height: 20px;
  background: #3579d6;
  background: -moz-radial-gradient(center, ellipse cover, #3579d6 0%, #3579d6 91%, #1b559d 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #3579d6), color-stop(91%, #3579d6), color-stop(100%, #1b559d));
  background: -webkit-radial-gradient(center, ellipse cover, #3579d6 0%, #3579d6 91%, #1b559d 100%);
  background: -o-radial-gradient(center, ellipse cover, #3579d6 0%, #3579d6 91%, #1b559d 100%);
  background: -ms-radial-gradient(center, ellipse cover, #3579d6 0%, #3579d6 91%, #1b559d 100%);
  background: radial-gradient(ellipse at center, #3579d6 0%, #3579d6 91%, #1b559d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3579d6', endColorstr='#1b559d', GradientType=1);
}
.archive-pages li.selected:hover {
  cursor: default;
  background: #3579d6;
  background: -moz-radial-gradient(center, ellipse cover, #3579d6 0%, #3579d6 91%, #1b559d 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #3579d6), color-stop(91%, #3579d6), color-stop(100%, #1b559d));
  background: -webkit-radial-gradient(center, ellipse cover, #3579d6 0%, #3579d6 91%, #1b559d 100%);
  background: -o-radial-gradient(center, ellipse cover, #3579d6 0%, #3579d6 91%, #1b559d 100%);
  background: -ms-radial-gradient(center, ellipse cover, #3579d6 0%, #3579d6 91%, #1b559d 100%);
  background: radial-gradient(ellipse at center, #3579d6 0%, #3579d6 91%, #1b559d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3579d6', endColorstr='#1b559d', GradientType=1);
}
.archive-pages li:hover {
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #c4c4c4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #c4c4c4));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #c4c4c4 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #c4c4c4 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #c4c4c4 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #c4c4c4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#c4c4c4', GradientType=0);
}
.archive-pages li a {
  cursor: pointer;
  line-height: 20px;
  display: block;
  padding: 5px;
  float: left;
  width: 18px;
  text-aling: center;
}
.archive-pages {
  display: block;
  background-color: #f4f4f4;
  float: left;
  padding: 0px;
  margin: 0px;
  font-size: 0.8em;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border: 1px solid silver;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.archive-pages ul {
  float: left;
  margin: 0px;
  padding: 10px;
  list-style: none;
}
.archive-pages li {
  border: 1px solid silver;
  float: left;
  font-weight: 700;
  margin: 0 2px;
  text-align: center;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #d6d6d6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #d6d6d6));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #d6d6d6 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #d6d6d6 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #d6d6d6 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #d6d6d6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#d6d6d6', GradientType=0);
}
.archive-pages .first a,
.archive-pages .previous a,
.archive-pages .next a,
.archive-pages .last a {
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition-duration: 300ms;
  -webkit-transition-property: width, text-indent, letter-spacing;
  -webkit-transition-timing-function: ease;
  -moz-transition-duration: 300ms;
  -moz-transition-property: width, text-indent, letter-spacing;
  -moz-transition-timing-function: ease;
  -o-transition-duration: 300ms;
  -o-transition-property: width, text-indent, letter-spacing;
  -o-transition-timing-function: ease;
}
.archive-pages a {
  text-decoration: none;
}
.archive-pages .next a:after,
.archive-pages .last a:after {
  content: " »";
}
.archive-pages .first a:before,
.archive-pages .previous a:before {
  content: '« ';
}
.archive-pages .first a:hover,
.archive-pages .previous a:hover,
.archive-pages .next a:hover,
.archive-pages .last a:hover {
  width: 100px;
  text-indent: 0;
  letter-spacing: 0px;
}
.archive-pages .first a {
  text-indent: 6px;
  letter-spacing: 10px;
}
.archive-pages .previous a {
  text-indent: 7px;
  letter-spacing: 10px;
}
.archive-pages .next a {
  text-indent: -159px;
  letter-spacing: 10px;
}
.archive-pages .last a {
  text-indent: -154px;
  letter-spacing: 10px;
}
.enviarCorreos {
  position: relative;
  top: 23%;
  left: 80%;
}
.registrosEncontrados {
  position: relative;
  top: -6%;
  margin-left: 40%;
  width: 20%;
  text-align: center;
  padding: 0.5%;
  border: solid #434a54 1px;
  border-radius: 15px;
  font-weight: bold;
  color: #E7E7E7;
  background-color: #17a2b8;
}
@media (max-width: 1150px) {
  .enviarCorreos {
    position: relative;
    top: 25%;
    left: 80%;
  }
  .tabla tbody {
    height: 50vh;
    overflow: auto;
    overflow-x: hidden;
    width: 100%;
  }
  .tabla thead,
  .tabla tbody,
  .tabla td,
  .tabla th {
    display: block;
  }
  .tabla .cabecerasTabla {
    width: 100%;
  }
  .tabla .cabecerasTabla .seleccionar {
    padding-right: 5%;
  }
  .tabla .cabecerasTabla .nombre {
    width: 5%;
  }
  .tabla .cabecerasTabla .email {
    width: 30%;
  }
  .tabla .cabecerasTabla .clase {
    width: 35%;
  }
  .tabla th {
    text-align: center;
    float: left;
    border-bottom-width: 0px ;
  }
  .tabla td {
    float: left;
  }
  .tabla td.tutor {
    display: none;
  }
  .tabla th.tutor {
    display: none;
  }
  .tabla td.curso {
    padding-left: 10%;
  }
  .tabla td.curso2 {
    padding-left: 10%;
  }
  .tabla td.nombre {
    width: 30%;
  }
  .tabla td.acc {
    padding-left: 5%;
  }
  .tabla td.acciones2 {
    padding-left: 5%;
  }
  .registrosEncontrados {
    position: relative;
    top: 2%;
    margin-left: 45%;
    width: 35%;
  }
}
@media (max-width: 950px) {
  .tabla {
    top: 2%;
  }
  .enviarCorreos {
    position: relative;
    top: 25%;
    left: 80%;
  }
  .tabla tbody {
    height: 50vh;
    overflow: auto;
    overflow-x: hidden;
    width: 100%;
  }
  .tabla thead,
  .tabla tbody,
  .tabla td,
  .tabla th {
    display: block;
  }
  .tabla .cabecerasTabla {
    width: 100%;
  }
  .tabla .cabecerasTabla .seleccionar {
    padding-right: 5%;
  }
  .tabla .cabecerasTabla .nombre {
    width: 5%;
  }
  .tabla .cabecerasTabla .email {
    width: 57%;
  }
  .tabla .cabecerasTabla .clase {
    display: none;
  }
  .tabla th {
    text-align: center;
    float: left;
    border-bottom-width: 0px ;
  }
  .tabla td {
    float: left;
  }
  .tabla td.tutor {
    display: none;
  }
  .tabla th.tutor {
    display: none;
  }
  .tabla td.curso {
    display: none;
  }
  .tabla td.curso2 {
    display: none;
  }
  .tabla td.nombre {
    width: 40%;
  }
  .tabla td.acciones {
    padding-left: 15%;
  }
  .tabla td.acciones2 {
    padding-left: 20%;
  }
  .selectCrud {
    margin-left: 15%;
    margin-right: 1%;
    position: relative;
    top: 0%;
  }
  .desSelectCrud {
    position: relative;
    top: 0%;
  }
  #spanProfesores {
    width: 100%;
    margin-right: 30%;
  }
  #spanProfesores a {
    font-size: 1.2vh;
  }
  #spanAlumnos {
    width: 100%;
  }
  #spanAlumnos a {
    font-size: 1.4vh;
  }
  #spanFilters {
    font-size: 2vh;
    margin-right: 30%;
  }
  .filters {
    height: 5vh;
  }
}
@media (max-width: 850px) {
  .enviarCorreos {
    position: relative;
    top: 25%;
    left: 80%;
  }
  .tabla tbody {
    height: 50vh;
    overflow: auto;
    overflow-x: hidden;
    width: 100%;
  }
  .tabla thead,
  .tabla tbody,
  .tabla td,
  .tabla th {
    display: block;
  }
  .tabla .cabecerasTabla {
    width: 100%;
  }
  .tabla .cabecerasTabla .seleccionar {
    padding-right: 5%;
  }
  .tabla .cabecerasTabla .nombre {
    width: 5%;
  }
  .tabla .cabecerasTabla .email {
    width: 57%;
  }
  .tabla .cabecerasTabla .clase {
    display: none;
  }
  .tabla th {
    text-align: center;
    float: left;
    border-bottom-width: 0px ;
  }
  .tabla td {
    float: left;
  }
  .tabla td.tutor {
    display: none;
  }
  .tabla th.tutor {
    display: none;
  }
  .tabla td.curso {
    display: none;
  }
  .tabla td.curso2 {
    display: none;
  }
  .tabla td.nombre {
    width: 40%;
  }
  .tabla td.acciones {
    padding-left: 15%;
  }
  .tabla td.acciones2 {
    padding-left: 20%;
  }
  .registrosEncontrados {
    position: relative;
    top: 2%;
    margin-left: 40%;
    width: 35%;
  }
  .botonesFiltro .btn {
    position: relative;
    right: 10%;
    top: -30%;
  }
  .filters {
    position: relative;
    top: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #434a54;
    width: 40%;
    height: 8vh;
  }
  .nav {
    width: 10%;
    height: 100vh;
    background-color: #434a54;
    position: fixed;
    display: flex;
    flex-direction: column;
  }
  .nav a {
    text-decoration: none;
    font-style: Bahnschrift;
    font-weight: Regular;
    font-size: 20px;
    color: #ffffff;
  }
  .nav #spanProfesores {
    width: 100%;
    margin-right: 30%;
  }
  .nav #spanProfesores a {
    font-size: 1.2vh;
  }
  .nav #spanAlumnos {
    width: 100%;
  }
  .nav #spanAlumnos a {
    font-size: 1.4vh;
  }
  .nav #spanFilters {
    font-size: 2vh;
    margin-right: 30%;
  }
}
@media (max-width: 720px) {
  .selectCrud {
    margin-left: 5%;
    margin-right: 1%;
    position: relative;
    top: -3%;
  }
  .botonesFiltro {
    position: relative;
    right: 10%;
    top: 10%;
  }
  .filters {
    position: relative;
    top: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #434a54;
    width: 60%;
    height: 8vh;
  }
  .desSelectCrud {
    position: relative;
    top: -3%;
  }
  .enviarCorreos {
    position: relative;
    top: 20%;
    margin-right: 40%;
  }
  .registrosEncontrados {
    position: relative;
    top: -9%;
    margin-left: 62%;
  }
}
@media (max-height: 650px) {
  .enviarCorreos {
    position: relative;
    top: 20%;
    left: 80%;
  }
}
@media (max-height: 550px) {
  .pagina {
    overflow: visible;
    height: 140vh;
  }
  .enviarCorreos {
    position: relative;
    top: 20%;
    left: 80%;
  }
}
@media (max-height: 615px) {
  .selectCrud {
    margin-left: 15%;
    margin-right: 1%;
    position: relative;
    top: -7%;
  }
  .desSelectCrud {
    position: relative;
    top: -7%;
  }
  .tabla {
    position: relative;
    top: -5%;
  }
  .enviarCorreos {
    position: relative;
    top: 21%;
    left: 80%;
  }
}
