body {
  display: flex ;
  margin: 0%;
}
.nav {
  width: 10%;
  height: 100vh;
  background-color: #434a54;
  display: flex;
  flex-direction: column;
}
.nav a {
  text-decoration: none;
  font-style: Bahnschrift;
  font-weight: Regular;
  font-size: 20px;
  color: #ffffff;
}
.nav #spanProfesores {
  display: flex;
  align-items: center;
  height: 5vh;
  position: relative;
  top: 30%;
  padding-left: 10%;
}
.nav #spanAlumnos {
  display: flex;
  align-items: center;
  height: 5vh;
  background-color: #00cc89;
  position: relative;
  top: 28%;
  padding-left: 10%;
}
.box {
  width: 100%;
  height: 100vh;
}
.cabecera {
  height: 7vh;
  background-color: white;
  border-bottom: solid 1px #434a54;
  display: flex;
  align-items: center;
}
.cabecera h2 {
  font-style: Tahoma;
  font-weight: Bold;
  font-size: 25px;
  position: relative;
  left: 5%;
}
.pagina {
  height: 93vh;
  background-color: #E7E7E7;
}
.pagina .h3 {
  font-style: Tahoma;
  font-weight: Bold;
  font-size: 20px;
  left: 5%;
  position: relative;
  top: 2%;
}
.filters {
  display: flex;
  justify-content: flex-end;
}
.filters span {
  width: auto;
  height: 5vh;
  margin: 1%;
}
.filters .csv {
  margin-right: 25%;
}
.inputsFiltro {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.inputsFiltro button {
  margin: 1%;
  margin-right: 3%;
}
.inputsFiltro input {
  width: 150%;
}
.inputsFiltro2 {
  width: 100%;
  padding-right: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputsFiltro2 button {
  margin: 1%;
  margin-right: 3%;
}
.inputsFiltro2 input {
  width: 150%;
}
.botonesFiltro {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.tabla {
  margin-left: 5%;
  width: 90%;
  position: relative;
  top: 10%;
  height: 40vh;
}
.tabla .acc {
  padding-left: 5%;
}
.checkbox {
  width: 2%;
}
.nombre {
  width: 25%;
}
.nombre img {
  margin-right: 10%;
}
.email {
  width: 20%;
}
.tutor {
  width: 20%;
}
.curso {
  width: 10%;
}
.curso2 {
  width: 15%;
}
.acciones {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.acciones span .svg1 {
  height: 30px;
  width: 30px;
}
.acciones span .svg2 {
  height: 25px;
  width: 25px;
  color: #0e90ab;
}
.acciones span .svg3 {
  height: 25px;
  width: 25px;
  color: #ab4452;
}
.acciones2 {
  width: 100%;
  display: flex;
}
.acciones2 span .svg1 {
  height: 30px;
  width: 30px;
}
